@charset "UTF-8";
[class*=er-icon]{
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  color: #1D8CE0;
  font-size: 20px;
  font-family: 'Microsoft Yahei';
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*=er-icon]::before, [class*=er-icon]::after{
  content: '';
  position: absolute;
}
.er-icon-check, 
.er-icon-check-circle, 
.er-icon-close, 
.er-icon-close-circle,
.er-icon-left,
.er-icon-left-circle,
.er-icon-right,
.er-icon-right-circle,
.er-icon-up,
.er-icon-up-circle,
.er-icon-down,
.er-icon-down-circle{
  width: 1.5em;
  height: 1.5em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.er-icon-left,
.er-icon-left-circle{
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.er-icon-up,
.er-icon-up-circle{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.er-icon-down,
.er-icon-down-circle{
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.er-icon-add,
.er-icon-add-circle{
  width: 1.5em;
  height: 1.5em;
}
.er-icon-check-circle,
.er-icon-close-circle,
.er-icon-add-circle,
.er-icon-left-circle,
.er-icon-right-circle,
.er-icon-up-circle,
.er-icon-down-circle{
  -webkit-box-shadow: 0 0 0 0.1em;
  -moz-box-shadow: 0 0 0 0.1em;
  box-shadow: 0 0 0 0.1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.er-icon-check::before, 
.er-icon-check-circle::before{
  content: '';
  position: absolute;
  right: 0.55em;
  top: 0.22em;
  width: 0.1em;
  height: 0.9em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
}
.er-icon-check:after, 
.er-icon-check-circle:after{
  content: '';
  position: absolute;
  right: 0.55em;
  top: 1.02em;
  width: 0.6em;
  height: 0.1em;
  -webkit-box-shadow: inset 0 0 0 0.6em;
  -moz-box-shadow: inset 0 0 0 0.6em;
  box-shadow: inset 0 0 0 0.6em;
}
.er-icon-close::before, 
.er-icon-close-circle::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.1em;
  height: 0.9em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.er-icon-close::after, 
.er-icon-close-circle::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.9em;
  height: 0.1em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.er-icon-add::before, 
.er-icon-add-circle::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.1em;
  height: 0.9em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.er-icon-add::after, 
.er-icon-add-circle::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.9em;
  height: 0.1em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.er-icon-right::before, 
.er-icon-right-circle::before,
.er-icon-left::before, 
.er-icon-left-circle::before,
.er-icon-up::before,
.er-icon-up-circle::before,
.er-icon-down::before,
.er-icon-down-circle::before{
  content: '';
  position: absolute;
  right: 0.55em;
  top: 0.55em;
  width: 0.6em;
  height: 0.1em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
}
.er-icon-right::after,
.er-icon-right-circle::after,
.er-icon-left::after, 
.er-icon-left-circle::after,
.er-icon-up::after,
.er-icon-up-circle::after,
.er-icon-down::after,
.er-icon-down-circle::after{
  content: '';
  position: absolute;
  right:  0.55em;
  top: 0.55em;
  width: 0.1em;
  height: 0.6em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
}
.er-icon-caret-left{
  border-width: 0.7em 0.7em 0.7em 0;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.er-icon-caret-right{
  border-width: 0.7em 0 0.7em 0.7em;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.er-icon-caret-top{
  border-width: 0 0.7em 0.7em 0.7em;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
}
.er-icon-caret-bottom{
  border-width: 0.7em 0.7em 0 0.7em;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
}
.er-icon-pause{
  width: 0.9em;
  height: 1em;
  margin: 0 0.3em;
}
.er-icon-pause::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0.3em;
  height: 1em;
  -webkit-box-shadow: inset 0 0 0 1em, 0.6em 0 0 0;
  -moz-box-shadow: inset 0 0 0 1em, 0.6em 0 0 0;
  box-shadow: inset 0 0 0 1em, 0.6em 0 0 0;
}
.er-icon-stop{
  width: 1em;
  height: 1em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
}
.er-icon-backward{
  border-width: 0.5em 0.5em 0.5em 0.5em;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.er-icon-backward::before{
  content: '';
  position: absolute;
  top: -0.5em;
  right: 0;
  border-width: 0.5em 0.5em 0.5em 0;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.er-icon-forward{
  border-width: 0.5em 0.5em 0.5em 0.5em;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.er-icon-forward::after{
  content: '';
  position: absolute;
  top: -0.5em;
  left: 0;
  border-width: 0.5em 0 0.5em 0.5em;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.er-icon-play{
  border-width: 0.5em 0 0.5em 0.6em;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.er-icon-next{
  border-width: 0.5em 0.5em 0.5em 0.5em;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.er-icon-next::after{
  content: '';
  position: absolute;
  left: 0;
  top: -0.45em;
  width: 0.3em;
  height: 0.9em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
}
.er-icon-pre{
  border-width: 0.5em 0.5em 0.5em 0.5em;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.er-icon-pre::before{
  content: '';
  position: absolute;
  right: 0;
  top: -0.45em;
  width: 0.3em;
  height: 0.9em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
}
.er-icon-menu{
  width: 1.2em;
  height: 1em;
  /* margin: 0.4em 0; */
}
.er-icon-menu::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.1em;
  width: 1.2em;
  height: 0.2em;
  -webkit-box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 -0.4em 0 0;
  -moz-box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 -0.4em 0 0;
  box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 -0.4em 0 0;
}
.er-icon-more, .er-icon-more-circle{
  width: 0.2em;
  height: 1em;
}
.er-icon-more::before, .er-icon-more-circle::before{
  top: 50%;
  left: 0;
  width: 0.2em;
  height: 0.2em;
  margin-top: -0.1em;
  -webkit-box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 -0.4em 0 0;
  -moz-box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 -0.4em 0 0;
  box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 -0.4em 0 0;
}
.er-icon-more-circle::before, .er-icon-ellipsis-circle::before{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.er-icon-ellipsis, .er-icon-ellipsis-circle{
  width: 1em;
  height: 0.2em;
}
.er-icon-ellipsis::before, .er-icon-ellipsis-circle::before{
  top: 0;
  left: 50%;
  margin-left: -0.1em;
  width: 0.2em;
  height: 0.2em;
  -webkit-box-shadow: inset 0 0 0 1em, 0.4em 0 0 0, -0.4em 0 0 0;
  -moz-box-shadow: inset 0 0 0 1em, 0.4em 0 0 0, -0.4em 0 0 0;
  box-shadow: inset 0 0 0 1em, 0.4em 0 0 0, -0.4em 0 0 0;
}
.er-icon-tiles{
  width: 1em;
  height: 1em;
}
.er-icon-tiles::before{
  top: 50%;
  left: 50%;
  margin: -0.1em 0 0 -0.1em;
  width: 0.2em;
  height: 0.2em;
  -webkit-box-shadow: inset 0 0 0 1em, 
              0.4em 0 0 0,
              -0.4em 0 0 0,
              0 0.4em 0 0,
              0 -0.4em 0 0,
              0.4em 0.4em 0 0,
              -0.4em -0.4em 0 0,
              -0.4em 0.4em 0 0,
              0.4em -0.4em 0 0;
  -moz-box-shadow: inset 0 0 0 1em, 
              0.4em 0 0 0,
              -0.4em 0 0 0,
              0 0.4em 0 0,
              0 -0.4em 0 0,
              0.4em 0.4em 0 0,
              -0.4em -0.4em 0 0,
              -0.4em 0.4em 0 0,
              0.4em -0.4em 0 0;
  box-shadow: inset 0 0 0 1em, 
              0.4em 0 0 0,
              -0.4em 0 0 0,
              0 0.4em 0 0,
              0 -0.4em 0 0,
              0.4em 0.4em 0 0,
              -0.4em -0.4em 0 0,
              -0.4em 0.4em 0 0,
              0.4em -0.4em 0 0; 
}
.er-icon-list{
  width: 1.2em;
  height: 1em;
}
.er-icon-list::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0.2em;
  height: 0.2em;
  -webkit-box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 0.8em 0 0;
  -moz-box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 0.8em 0 0;
  box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 0.8em 0 0;
}
.er-icon-list::after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0.8em;
  height: 0.2em;
  -webkit-box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 0.8em 0 0;
  -moz-box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 0.8em 0 0;
  box-shadow: inset 0 0 0 1em, 0 0.4em 0 0, 0 0.8em 0 0;
}
.er-icon-search-right, .er-icon-search-left{
  width: 1.2em;
  height: 1.2em;
  border-width: 0.1em 0.1em 0.1em 0.1em;
  border-style: solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.er-icon-search-right{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.er-icon-search-left{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.er-icon-search-right::before, .er-icon-search-left::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -0.8em;
  margin-left: -0.1em;
  width: 0.2em;
  height: 0.8em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
}
.er-icon-share{
  width: 0.5em;
  height: 0.5em;
  margin: 0.5em 1.2em 0.5em 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1em, 1.2em 0.5em 0 0,1.2em -0.5em 0 0;
  -moz-box-shadow: inset 0 0 0 1em, 1.2em 0.5em 0 0,1.2em -0.5em 0 0;
  box-shadow: inset 0 0 0 1em, 1.2em 0.5em 0 0,1.2em -0.5em 0 0;
}
.er-icon-share::before, .er-icon-share::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin: -0.1em 0 0 0.2em;
  width: 1.2em;
  height: 0.1em;
  -webkit-box-shadow: inset 0 0 0 1em;
  -moz-box-shadow: inset 0 0 0 1em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-22deg);
  -moz-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  transform: rotate(-22deg);
}
.er-icon-share::after{
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  transform: rotate(22deg);
}
.er-icon-home{
  width: 1.2em;
  height: 1em;
  margin: 0.6em 0.2em 0;
  border-width: 0 0.1em 0.1em 0.1em;
  border-style: solid;
}
.er-icon-home::before{
  content: '';
  position: absolute;
  top: -0.6em;
  right: 0.5em;
  width: 1em;
  height: 1em;
  border-width: 0.1em 0.1em 0 0;
  border-style: solid;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.er-icon-home::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.3em;
  width: 0.6em;
  height: 0.8em;
  border-width: 0.1em 0.1em 0 0.1em;
  border-style: solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.er-icon-reset-lt, 
.er-icon-reset-rt, 
.er-icon-reset-lb,
.er-icon-reset-rb,
.er-icon-refresh{
  width: 1.5em;
  height: 1.5em;
  border: 0.1em solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.er-icon-reset-lt,
.er-icon-reset-lb{
  border-left-color: transparent; 
}
.er-icon-reset-rt,
.er-icon-reset-rb{
  border-right-color: transparent; 
}
.er-icon-reset-lt::before,
.er-icon-reset-rt::before,
.er-icon-reset-lb::before,
.er-icon-reset-rb::before,
.er-icon-refresh::before,
.er-icon-refresh::after{
  content: '';
  position: absolute;
  border: 0.2em solid;
}
.er-icon-reset-lt::before{
  left: 0;
  top: 0;
  border-top-color: transparent;
  border-right-color: transparent;
}
.er-icon-reset-rt::before, .er-icon-refresh::before{
  right: 0;
  top: 0;
  border-top-color: transparent;
  border-left-color: transparent;
}
.er-icon-reset-lb::before, .er-icon-refresh::after{
  left: 0;
  bottom: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.er-icon-reset-rb::before{
  right: 0;
  bottom: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.er-icon-refresh{
  border-left-color: transparent;
  border-right-color: transparent;
}
.er-icon-menu-squre{
  width: 1.3em;
  height: 1.3em;
  /* margin: 0 0.7em 0.7em 0; */
}
.er-icon-menu-squre::before{
  top: 0;
  left: 0;
  width: 0.6em;
  height: 0.6em;
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  border-radius: 0.1em;
  -webkit-box-shadow: inset 0 0 0 1em, 0.7em 0 0 0, 0 0.7em 0 0, 0.7em 0.7em 0 0;
  -moz-box-shadow: inset 0 0 0 1em, 0.7em 0 0 0, 0 0.7em 0 0, 0.7em 0.7em 0 0;
  box-shadow: inset 0 0 0 1em, 0.7em 0 0 0, 0 0.7em 0 0, 0.7em 0.7em 0 0;
}
.er-icon-tag, .er-icon-tag-left, .er-icon-tag-right{
  width: 1em;
  height: 1.4em;
  border-width: 0 0.1em 0.1em 0.1em;
  border-style: solid;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}
.er-icon-tag-left{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.er-icon-tag-right{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.er-icon-tag::before, 
.er-icon-tag-left::before,
.er-icon-tag-right::before{
  content: '';
  position: absolute;
  top: -0.3em;
  right: 0;
  width: 0.8em;
  height: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0.1em 0.1em 0 0;
  border-style: solid;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.er-icon-tag::after,
.er-icon-tag-left::after,
.er-icon-tag-right::after{
  content: '';
  position: absolute;
  top: 0.1em;
  left: 0.2em;
  width: 0.2em;
  height: 0.2em;
  border: 0.1em solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.er-icon-document{
  width: 1.2em;
  height: 1.5em;
  border: 0.1em solid;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-border-top-left-radius: 0.7em 0.7em;
  -moz-border-radius-topleft: 0.7em 0.7em;
  border-top-left-radius: 0.7em 0.7em;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.er-icon-document::before{
  content: '';
  position: absolute;
  left: -0.3em;
  top: -0.3em;
  border: 0.4em solid;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-border-radius: 0 0.2em 0.1em 0.2em;
  -moz-border-radius: 0 0.2em 0.1em 0.2em;
  border-radius: 0 0.2em 0.1em 0.2em;
}